@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
label{
    display:flex !important;
    align-items: flex-start;
    font-size: larger;
}
.mb-3{
    display:flex !important;
}
button{
    font-family: 'Comic Neue', cursive;
}